.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Грид-сетка для карточек */
    gap: 20px; /* Отступы между карточками */
    padding: 20px;
}

.project {
    background-color: #f5f5f5; /* Цвет фона карточки */
    border-radius: 15px; /* Закругление углов карточки */
    padding: 10px; /* Отступы от границ карточки */
    text-align: center; /* Центрирование содержимого */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Тень для карточки */
    transition: transform 0.2s ease-in-out; /* Анимация на hover */
}

.project:hover {
    transform: translateY(-5px); /* Поднимаем карточку при наведении */
}

.project img {
    max-width: 90%; /* Максимальная ширина - 100% контейнера */
    height: 50%; /* Автоматическая высота изображения */
    object-fit: cover;
    margin-bottom: 10px; /* Отступ снизу от изображения */
    border-radius: 10px; /* Закругление углов изображения */
}

.title-2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.project h1 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
    padding: 10px 0 0 0; /* Отступ сверху для текста */
}