.nav {
	position: fixed;
	padding: 20px 0;
	width: 100%;
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--nav-border);
	color: var(--nav-text);
	letter-spacing: normal;
	z-index: 10;
}

.nav-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.logo {
	margin-right: auto;
	color: var(--nav-text);
	font-size: 50px;
	font-family: '8bit', sans-serif;
	letter-spacing: 1.5px;
}

.logo strong {
	font-weight: 700;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 22px;
	font-weight: 500;
	font-family: '8bit', sans-serif;
}

.nav-list__link {
	color: var(--nav-text);
	transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
	opacity: 0.8;
}

.nav-list__link--active {
	position: relative;
}

.nav-list__link--active::before {
	content: '';

	position: absolute;
	left: 0;
	top: 100%;

	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
}

.rotating-icon {
    width: 50px; /* Установите нужный размер */
    height: 50px; /* Установите нужный размер */
    background-color: white; /* Белый фон */
    padding: 5px; /* Отступы вокруг картинки */
    border-radius: 50%; /* Закругленные края, если хотите круг */
    animation: rotate 5s linear infinite;
    box-sizing: border-box; /* Учитывать padding в общей ширине и высоте */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@font-face {
	font-family: "valisca";
	src: url("./../../fonts/Valisca.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;

  }

  @font-face {
	font-family: "8bit";
	src: url("./../../fonts/Visitor\ Rus.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;

  }